<!DOCTYPE html>
<html lang="en">
    <head>
        <meta charset="UTF-8">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <meta http-equiv="X-UA-Compatible" content="ie=edge">
        <title><%= blocks.title %></title>
        <script data-main=<%= blocks.main %> src=<%= blocks.requirejsPath + "require.js" %>></script>
        <link rel="stylesheet" href=<%= blocks.style %>>
    </head>
    <body>
        <header>
            Header
        </header><!--make it partial-->
        
        <%- body%>

        <footer>
            Footer
            <%- partial('../partials/socialNavigation') %>
        </footer><!--make it partial-->
    </body>
</html>