<!DOCTYPE html>
<html lang="en">
    <head>
        <meta charset="UTF-8">
        <meta name="description" content="Volodymyr Khrystenko portfolio">
        <meta name="author" content="Volodymyr Khrystenko">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <meta http-equiv="X-UA-Compatible" content="ie=edge">
        <title><%= blocks.title %></title>
        <script data-main=<%= blocks.main %> src="bower_components/requirejs/require.js"></script>

        <% for(let style of styles) { %>
               <link rel="stylesheet" href= <%= style %>> 
         <% } %>
         <link rel="stylesheet" href= <%= styles.customStyle %>> 
    </head>
    <body>
        <pre class="breakpoints"></pre>        
        <%- body%>
    </body>
</html>