<!DOCTYPE html>
<html lang="en">
    <head>
        <meta charset="UTF-8">
        <meta name="description" content="Volodymyr Khrystenko portfolio">
        <meta name="author" content="Volodymyr Khrystenko">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <meta http-equiv="X-UA-Compatible" content="ie=edge">
        <title><%= blocks.title %></title>

        <link rel='stylesheet prefetch' href='https://maxcdn.bootstrapcdn.com/font-awesome/4.7.0/css/font-awesome.min.css'>
        <% if(blocks.main) { %>
            <script data-main=<%= blocks.main %> src="bower_components/requirejs/require.js"></script>
        <% } %>

        <% if (styles && ((styles.length > 0) || styles.customStyle)) { %>
            <% for(let style of styles) { %>
               <link rel="stylesheet" href= <%= style %> sync> 
            <% } %>
            <link rel="stylesheet" href= <%= styles.customStyle %> sync> 
        <% } %>
    </head>
    <body>
        <div class="preload"></div>
        <script type="text/javascript">
              window.onload = function() {
                 setTimeout(function() {
                     document.querySelector(".preload").style.display = 'none'; 
                 }, 200);
              }
        </script>
        <pre class="breakpoints"></pre>        
        <%- body%>
    </body>
</html>